*
!shared/
!shared/**
!models.json
!waker/
!waker/**
!request-validator/
!request-validator/**
!custom-docker-containers/
!custom-docker-containers/**
!manual_download/
!manual_download/openai_gpt-oss-encodings_fix/
!manual_download/openai_gpt-oss-encodings_fix/**
!mods/
!mods/fix-glm-4.7-flash-AWQ/
!mods/fix-glm-4.7-flash-AWQ/**
!tmp/spark-vllm-docker/wheels/
!tmp/spark-vllm-docker/wheels/**
!tmp/transformers-upstream/
!tmp/transformers-upstream/pyproject.toml
!tmp/transformers-upstream/setup.py
!tmp/transformers-upstream/src/
!tmp/transformers-upstream/src/transformers/
!tmp/transformers-upstream/src/transformers/**
!tmp/vllm-upstream/
!tmp/vllm-upstream/CMakeLists.txt
!tmp/vllm-upstream/LICENSE
!tmp/vllm-upstream/MANIFEST.in
!tmp/vllm-upstream/README.md
!tmp/vllm-upstream/pyproject.toml
!tmp/vllm-upstream/setup.py
!tmp/vllm-upstream/use_existing_torch.py
!tmp/vllm-upstream/requirements/
!tmp/vllm-upstream/requirements/**
!tmp/vllm-upstream/cmake/
!tmp/vllm-upstream/cmake/**
!tmp/vllm-upstream/csrc/
!tmp/vllm-upstream/csrc/**
!tmp/vllm-upstream/vllm/
!tmp/vllm-upstream/vllm/**
